[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tldextract = "*"
google-cloud-bigquery = "*"
boxsdk = "*"
iso3166 = "*"
validators = "*"


[dev-packages]

[requires]
python_version = "3.8"
